PORT=5000
# Database Configuration -localhost
# MONGO_URI="mongodb://localhost:27017/restaurant_app"
# Database Configuration - container mongo container name
MONGO_URI="mongodb://mongo/restaurant_app"
PRINTER_NAME=''
BUSINESS_TITLE="Heaven Tast Restaurant"
BUSINESS_ADDRESS="Timargara"
MOBILE_NUMBER="0318-9410953"
THANKS_MESSAGE="Thank for visiting us."